<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample.springboot.mybatis.account.mapper.AccountMapper">

  <insert id="batchInsert">
    insert into account(id, name, money)
    <foreach collection="accounts" item="account" separator="union all">
      select #{account.id}, #{account.name}, #{account.money}
    </foreach>
  </insert>
  
  <delete id="clean">
    delete from account
  </delete>

  <select id="findList" resultType="sample.springboot.mybatis.account.entity.Account">
    select 
      id      as "id",
      name    as "name",
      money   as "money"
    from account
    <where>
      <if test="name != null and name != ''">
        and name like #{name}
      </if>
    </where>
  </select>

</mapper>