<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- converter -->
    <conversionRule conversionWord="ip" converterClass="sample.kafka.logback.converter.IpLogConverter" />

    <!-- kafka appender -->
    <appender name="KafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder>
            <pattern>%ip %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{36} - %msg%n</pattern>
        </encoder>
        <topic>kafka-logback</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <producerConfig>bootstrap.servers=kafka.sample.com:9092</producerConfig>
    </appender>

    <!-- config some package with level send to kafka appender -->
    <logger name="sample.kafka.logback" level="info" additivity="false">
        <appender-ref ref="KafkaAppender" />
    </logger>

    <!-- console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="console" />
    </root>

</configuration>